In [6]:
import pandas as pd
df = pd.DataFrame({
            'ID':[1,1,1,3,3,4,4], 
            'MONTHS_BALANCE' : [0, -1, -2, 0, -1, 0,-1], 
            'STATUS' : ['X', 0, 0, 'C', 1, 'X', 1]})

In [23]:
df[df['STATUS'] != 'X'].groupby('ID').first()

    MONTHS_BALANCE STATUS
ID
1               -1      0
3                0      C
4               -1      1